#include "version.h"

1 VERSIONINFO
 FILEVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_BUILD,VERSION_REV
 PRODUCTVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_BUILD,VERSION_REV
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "04090000"
  BEGIN
   VALUE "FileDescription", "sfall1, built for " TARGETVERSION
   VALUE "FileVersion", VERSION_STRING
   VALUE "InternalName", "sfall1"
   VALUE "LegalCopyright", "Copyright (C) 2006-2007, Timeslip"
   VALUE "ProductName", "sfall1"
   VALUE "ProductVersion", VERSION_STRING
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409, 0x0000
 END
END
